*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    padding-top: 70px;
    font-family: Helvetica, sans-serif;
    background: #f4f4f4;
    
}

/*keep nav-bar at top*/

.nav-container {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
}

/*Hero button responsive css*/

button {
    padding: 12px 30px;
    border-radius: 20px;
    font-size: 14px;
    border-width: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
   }
.nav-buttons a {
     text-decoration: none;
     color: black ;
}
a:hover {
    text-decoration: underline;
}
.hero-button :hover {
    text-decoration:underline ;
}
.hero {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 0;
}
.hero-button a{
    text-decoration: none;
    color: black;
}

.hero-description {
    padding: 20px;
    font-family: serif;
    font-size: 30px;
    font-style: normal;
    line-height: 1.1;
    color: rgb(44, 43, 43);
}
 p {
    font-family: ;
    font-size: bold ;
}
.bottom-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
